.navigation-box-h2 {
    margin: 0;
    margin-left: 0.5em;
}

.navigation-box-h3 {
    margin: 0;
    margin-left: 1.5em;
    margin-top: 0.5em;
}

.navigation-box-outside-box {
    padding: 2em;
}

.navigation-box-outside-box-closed {
    padding: 2em;
}

.navigation-box-inside-box {
    margin-top: 0.5em;
    border-radius: 1.5em;
    display: inline-block;
    width: 100%;
}
