.navigation-box-nav-h2 {
    margin: 0;
    margin-left: 0.5em;
    align-self: flex-end;
}

.navigation-box-nav-h3 {
    margin: 0;
    margin-left: 0.5em;
    align-self: flex-end;
}

.navigation-box-main-nav {
    display: flex;
    justify-content: center;
}

.navigation-box-nav-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    align-self: flex-end;
}
