.navigation-box-tile-block {
    display: flex;
}

.navigation-box-tile {
    width: 10em;
    height: 10em;
    margin: 1em;
    border-radius: 1em;
}

.navigation-box-tile-text {
    margin: 1em;
}
