.emperors-music-album-container {
    width: 100%;
    display: flex;
    border-radius: 1em;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
    border-style: solid;
    text-align: left;
}

.emperors-music-album-inner-container {
    flex-direction: row;
    display: flex;
}

.emperors-music-album-image-container {
    flex: 0 0 250px;
    height: 250px;
    border-radius: 1em;
    margin: 2em;
}

.emperors-music-album-title {
    margin-left: 2em;
    margin-bottom: 0;
}

.emperors-music-album-songs-list {
    margin-top: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    border-style: solid;
    width: 100%;
    display: flex;
    padding-left: 0;
    flex-direction: column;
}

.emperors-music-album-title-text-field {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.emperors-music-bottom-toolbar-button {
    padding: 0.5em;
    margin-left: 0.5em;
}

.emperors-music-album-bottom-toolbar {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-end;
}
