.emperors-music-main {
    margin: 1em;
    margin-top: 0;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.emperor-music-toolbar {
    width: 100%;
    margin-top: 1em;
    border-style: solid;
    border-radius: 1em;
    text-align: left;
}

.emperors-music-toolbar-tile {
    padding: 0.5em;
    width: auto;
    display: inline-block;
}

.emperors-music-toolbar-button {
    margin: 0.5em;
    padding: 0.5em;
    background: none;
}

.emperors-music-toolbar-button-text {
    margin-left: 0.25em;
}