.emperors-music-album-songs-list-item {
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
}

.emperors-music-album-songs-list-time {
    display: flex;
    justify-content: flex-end;
    padding-right: 0.5em;
}

.emperors-music-album-songs-list-title {
    padding-left: 0.5em;
    flex: 1;
    text-align: left;
}
