.attack-dice-app {
}

.attack-dice-tools {
    margin: 0;
    display: flex;
    padding: 0.5em;
    padding-left: 1em;
}

.attack-dice-number-of-dice {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.attack-dice-toolbar-space {
    flex-grow: 1;
}

.attack-dice-number-of-dice-value {
    margin: auto;
}

.ms-TextField-field {
    font-size: 42px;
    width: 2em;
    height: 100%;
    text-align: center;
    margin: auto;
}

.ms-TextField-fieldGroup {
    height: 2em;
    background-color: #eaeaea;
    border: none;
}

.attack-dice-toolbar-button {
    margin: 0.5em;
}
