.dice-container {
    display: inline-flex;
    flex-direction: row;
}

.combination-container {
    display: inline-flex;
    flex-direction: column;
}

.combination-summary {
    display: inline-flex;
    flex-direction: column;
    margin: 0.5em;
    box-shadow: 0.25em 0.25em 0.2em lightgray;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    width: 3.0em;
}

.combination-summary-count {
    margin: 0.5em;
}

.combination-summary-title {
    text-align: center;
}

.combination-details-callout {
    box-shadow: 0.25em 0.25em 0.25em lightgray;
    border-color: gray;
}

.combination-summary-total-container {
    border-top-style: solid;
    border-width: 1px;
    border-color: gray;
}

.combination-graph {
    box-shadow: 0.25em 0.25em 0.25em lightgray;
    border-style: solid;
    border-width: 1px;
    margin: 0.5em;
    margin-bottom: 0;
}

.combination-count-text {
    margin: auto;
}
