.combination-header-title {
    margin-left: 0.75em;
    margin-right: 0.75em;
    display: flex;
}

.combination-text {
    margin: 1em;
}

.combination-header-container {
    margin-bottom: 4em;
}

.combination-header-title-text {
    flex-grow: 1;
}

.combination-text-outcomes-container {
    display: flex;
    margin-left: 1em;
}

.combination-max-combination-sides {
    display: flex;
    flex-direction: row;
}

.combination-max-combination-sides-icon {
    margin: auto;
}
