.page-title-breadcrumb-a {
    display: flex;
}

.page-title-breadcrumb-icon {
    align-self: center;
    font-size: 1em;
}

.page-title-breadcrumb-h1 {
    margin: 0.25em 0.5em 0.25em 0.5em;
    align-self: center;
}

.page-title-breadcrumb {
    display: flex;
    justify-content: center;
    padding: 1em;
}
