.page-title-nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0.5em;
    justify-content: center;
}

.page-title-nav-list-item {
    display: inline-block;
    margin: 0.5em;
}
