.page-content-main-div {
    margin-left: auto;
    margin-right: auto;
    max-width: 60em;
    padding-bottom: 2em;
    border-left-style: solid;
    border-right-style: solid;
}

.page-content-first-element {
    margin-top: 0;
}
